#  딥러닝 프로그래밍 빠르게 배우기 (마이캠퍼스)
## https://pg.mycampus.io/?idx=97

* 질문/문의: 마이캠퍼스 한대희 , daehee@mycampus.io, 010-2101-0255

## 이 파일의 목차 
* int, float 숫자
* string 문자열
* list 리스트
* tuple 튜플
* list 인텍스, 슬라이스(slice)
* range()
* for 루프
* 문자열 함수

# 숫자, 계산

In [1]:
10 + 20

In [2]:
(2+3) * 10

In [3]:
# 변수: 값을 저장하는 방(메모리). 그 방의 이름
a = 2
b = 3
c = 10
c * (a+b)

In [4]:
a = 1.5  # 실수 (소수점이 있는 수)
b = 3    # 정수 (소수점이 없는 수)
a*b

# 문자열 (텍스트) 다루기

In [5]:
# 문자열(텍스트) 표시에 큰따옴표, 작은따옴표 모두 가능
print('hello 1') # 큰따옴표
print("hello 2") # 작은따옴표

In [6]:
# 따옴표 연속 3개 - 여러 라인의 문자열 가능함.
print('''Hello 
         World 1''')

In [7]:
# 따옴표 연속 3개 - 여러 라인의 문자열 가능함.
print("""Hello 
         World 2""")

Hello
         World 2

In [8]:
# 변수: 데이터를 어떤 방(메모리)에 저장하고, 그 방이름을 정함.
a = 'hello'
print(a)

hello

# 여러 개의 값을 저장하기  -- list (리스트)와 tuple(튜플)

In [9]:
a = [10, 20, 30] # list: []
b = (10, 20, 30) # tuple: ()

In [10]:
print(a)
print(b)

[10, 20, 30]
(10, 20, 30)

In [11]:
print(type(a)) # 데이터의 타입을 알아보기
print(type(b)) # 데이터의 타입을 알아보기

<class 'list'>
<class 'tuple'>

In [12]:
print(a*2) # 원소 개수가 2배로 
print(b*2) # 원소 개수가 2배로

[10, 20, 30, 10, 20, 30]
(10, 20, 30, 10, 20, 30)

## list와 tuple 차이
* tuple은 처음 생성될때의 데이터(원소, element)를 추가, 삭제할 수 없다.
* list는 데이터(element)를 추가, 삭제할 수 있다.

In [13]:
a.append(40)
print(a)

[10, 20, 30, 40]

# 데이터 생성하기

## integer (정수) --> int()

In [14]:
A1 = 77
A2 = int('77')
A3 = int()
print('A1:', A1, 'A2:', A2, 'A3:', A3)

A1: 77 A2: 77 A3: 0

## real number (실수) --> float()

In [15]:
A1 = 3.4
A2 = float('3.4')
A3 = float()
print('A1:', A1, 'A2:', A2, 'A3:', A3)

A1: 3.4 A2: 3.4 A3: 0.0

## list (목록) --> list(), [ ]

In [16]:
A1 = [0,1,2,3]
A2 = list(range(4))
A3 = list()
print('A1:', A1, 'A2:', A2, 'A3:', A3)

A1: [0, 1, 2, 3] A2: [0, 1, 2, 3] A3: []

## list의 인덱스

In [17]:
 a = [0, 1, 2, 3, 4]
 print(a[0])   # 첫번째 방은 0번방. index는 0부터.
 print(a[-1])  # -1은 끝 
 a.append(5) # element를 제일 뒤에 하나 추가. 
 print(a)
 print(a[-1])
 print(a[-2])  # 끝에서 두번째

0
4
[0, 1, 2, 3, 4, 5]
5
4

## list의 slice(콜론)

In [18]:
# slice – 콜론(‘:’)으로 index의 start,end를 지정함. end는 포함하지 않음
print(a[1:3]) # 1번index(2번방)에서 3번index직전까지 
print(a[:3])   # start를 지정하지 않으면 처음부터.
print(a[3:])   #  end를 지정하지 않으면 끝까지.
print(a[:-1])  # 처음부터 끝 직전까지.
a.append('hello')
print(a)

[1, 2]
[0, 1, 2]
[3, 4, 5]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 'hello']

# python 기본 함수 중 sum(),  len()

In [19]:
a = [4, 5, 6]
print(sum(a))   # 합계 구하기  15

print(len(a))    # 리스트길이(갯수)  3
print(sum(a)/len(a))    # 평균값(mean) 구하기

15
3
5.0

# range()  사용법
* range(숫자1) - 끝. 시작은 0.
* range(숫자1, 숫자2) - 시작, 끝.
* range(숫자1, 숫자2, 숫자3) - 시작, 끝, 스텝.
* 주의할 점: 끝숫자는 포함하지 않는다. 끝 직전까지만.

In [20]:
print(list(range(5)))
print(list(range(1, 5)))
print(list(range(1, 5, 2)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3]

In [21]:
# range(숫자1, 숫자2, 숫자3) - 시작, 끝, 스텝.
# 주의할 점: 끝숫자는 포함하지 않는다. 끝 직전까지만. 
print(list(range(1, 6, 2)))

[1, 3, 5]

# 반복하기 == 루프, for 루프

In [22]:
for i in range(5): # for 루프
    print(i, 'Love') # for 라인 다음 라인 시작할 때 공백 2개 이상 주어야 함.

0 Love
1 Love
2 Love
3 Love
4 Love

# 문자열(string) 관련 함수

In [23]:
s1 = 'aaa bbb ccc'
s2 = 'AAA,BBB,CCC'

In [24]:
# split() 기본적(디폴트)으로 공백으로 분리하여, 분리된 문자열들의 list를 만든다.
s1.split()

['aaa', 'bbb', 'ccc']

In [25]:
s2.split() # s2는 공백이 없으므로 전체가 한 개

['AAA,BBB,CCC']

In [26]:
s2.split(',') # s2를 콤마로 분리

['AAA', 'BBB', 'CCC']

In [27]:
# 대소문자로 변환
print(s1, 'vs', s1.upper())
print(s2, 'vs', s2.lower())

aaa bbb ccc vs AAA BBB CCC
AAA,BBB,CCC vs aaa,bbb,ccc

In [28]:
# 'ccc'로 끝나는가?  - True/False 값
s1.endswith('ccc')

True

In [29]:
# 'ccc'로 시작하는가?  - True/False 값
s2.startswith('ccc')

False